extends layout



block content
  ul
    li
      a(href="./html/button.html") 按钮
    li
      a(href="./html/modal.html") 模态框

    li
      a(href="./html/formele.html") 表单元素
    li
      a(href="./html/form.html") form
    li
      a(href="#") table
    li
      a(href="#") 轮播图
    li
      a(href="#") datepicker
    
  script.
    document.title = '主页'