doctype html
html
  head
    mata(charset="utf-8")
    script(src="https://code.jquery.com/jquery-3.3.1.min.js")
    script(src="../js/fresh-ui.js")
    link(rel="stylesheet", href="../css/fresh-ui.css")
  body
    div(style="padding: 10px 40px")
      block content