// normal
.btn {
  line-height: 1.5;
  padding: 0.5em 1.2em;
  color: #FFFFFF;
  margin: 0.3em;
  font-size: 14px;
  // box-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border: {
    width: 1px;
    style: solid;
    color: rgba(0, 0, 0, 0.1);
    radius: 0.2em;
  }
}

// default button
.btn-default {
  background-color: #FFF;
  color: #000000;

  &:hover {
    background-color: #EEEEEE;
  }

  &:active {
    background-color: #DADADA;
  }
}

// primary button
.btn-primary {
  background-color: #455BE6;

  &:hover {
    background-color: #253FE6;
  }

  &:active {
    background-color: #132ED7;
  }
}

// success button
.btn-success {
  background-color: #22B570;

  &:hover {
    background-color: #01A357;
  }

  &:active {
    background-color: #00904D;
  }
}

// error button
.btn-error {
  background-color: #FF0000;

  &:hover {
    background-color: #E90000;
  }

  &:active {
    background-color: #D10000;
  }
}

// warning button
.btn-warning {
  background-color: #F0AD4E;

  &:hover {
    background-color: #E99B2D;
  }

  &:active {
    background-color: #D58515;
  }
}

// disabled
@mixin btn-disabled-mixin($bgcolor, $color) {
  background-color: $bgcolor;
  color: $color;
  cursor: not-allowed;
}

.btn-default[disabled] {
  @include btn-disabled-mixin(#F7F7F7, #BBBEC4);
  &:hover { 
    @include btn-disabled-mixin(#F7F7F7, #BBBEC4);
  }
}

.btn-primary[disabled] {
  @include btn-disabled-mixin(#76B4F5, #FFEEEE);
  &:hover { 
    @include btn-disabled-mixin(#76B4F5, #FFEEEE);
  }
}

.btn-success[disabled] {
  @include btn-disabled-mixin(#88F1C0, #FFFFFF);
  &:hover { 
    @include btn-disabled-mixin(#88F1C0, #FFFFFF);
  }
}

.btn-error[disabled] {
  @include btn-disabled-mixin(#FF7B7B, #FFEEEE);
  &:hover { 
    @include btn-disabled-mixin(#FF7B7B, #FFEEEE);
  }
}

.btn-warning[disabled] {
  @include btn-disabled-mixin(#FFDEB0, #FFFFFF);
  &:hover { 
    @include btn-disabled-mixin(#FFDEB0, #FFFFFF);
  }
}

// loading
.icon-btn-loading {
  animation: btn-loading-anim 1s linear infinite;
  display: inline-block;
  right: 5px;
  position: relative;

  &:before {
    content: "\e97b";
  }
}

@keyframes btn-loading-anim {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}