// color
$default-bg-color: #FFFFFF;
$default-font-color: #000000;
$default-bg-color-hover: #EEEEEE;
$default-bg-color-active: #DADADA;
$default-bg-color-disabled: #F7F7F7;
$default-font-color-disabled: #BBBEC4;

$primary-bg-color: #455BE6;
$primary-bg-color-hover: #253FE6;
$primary-bg-color-active: #132ED7;
$primary-bg-color-disabled: #76B4F5;
$primary-font-color-disabled: #FFEEEE;

$success-bg-color: #22B570;
$success-bg-color-hover: #01A357;
$success-bg-color-active: #00904D;
$success-bg-color-disabled: #88F1C0;
$success-font-color-disabled: #FFFFFF;

$error-bg-color: #FF0000;
$error-bg-color-hover: #E90000;
$error-bg-color-active: #D10000;
$error-bg-color-disabled: #FF7B7B;
$error-font-color-disabled: #FFEEEE;

$warning-bg-color: #F0AD4E;
$warning-bg-color-hover: #E99B2D;
$warning-bg-color-active: #D58515;
$warning-bg-color-disabled: #FFDEB0;
$warning-font-color-disabled: #FFFFFF;

// normal
.btn {
  line-height: 1.5;
  padding: 0.5em 1.2em;
  color: #FFFFFF;
  margin: 0.3em;
  font-size: 14px;
  // box-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border: {
    width: 1px;
    style: solid;
    color: rgba(0, 0, 0, 0.1);
    radius: 0.2em;
  }
}

// default button
.btn-default {
  background-color: $default-bg-color;
  color: $default-font-color;

  &:hover {
    background-color: $default-bg-color-hover;
  }

  &:active {
    background-color: $default-bg-color-active;
  }
}

// primary button
.btn-primary {
  background-color: $primary-bg-color;

  &:hover {
    background-color: $primary-bg-color-hover;
  }

  &:active {
    background-color: $primary-bg-color-active;
  }
}

// success button
.btn-success {
  background-color: $success-bg-color;

  &:hover {
    background-color: $success-bg-color-hover;
  }

  &:active {
    background-color: $success-bg-color-active;
  }
}

// error button
.btn-error {
  background-color: $error-bg-color;

  &:hover {
    background-color: $error-bg-color-hover;
  }

  &:active {
    background-color: $error-bg-color-active;
  }
}

// warning button
.btn-warning {
  background-color: $warning-bg-color;

  &:hover {
    background-color: $warning-bg-color-hover;
  }

  &:active {
    background-color: $warning-bg-color-active;
  }
}

// disabled
@mixin btn-disabled-mixin($bgcolor, $color) {
  background-color: $bgcolor;
  color: $color;
  cursor: not-allowed;
}

.btn-default[disabled] {
  @include btn-disabled-mixin($default-bg-color-disabled, $default-font-color-disabled);
  &:hover { 
    @include btn-disabled-mixin($default-bg-color-disabled, $default-font-color-disabled);
  }
}

.btn-primary[disabled] {
  @include btn-disabled-mixin($primary-bg-color-disabled, $primary-font-color-disabled);
  &:hover { 
    @include btn-disabled-mixin($primary-bg-color-disabled, $primary-font-color-disabled);
  }
}

.btn-success[disabled] {
  @include btn-disabled-mixin($success-bg-color-disabled, $success-font-color-disabled);
  &:hover { 
    @include btn-disabled-mixin($success-bg-color-disabled, $success-font-color-disabled);
  }
}

.btn-error[disabled] {
  @include btn-disabled-mixin($error-bg-color-disabled, $error-font-color-disabled);
  &:hover { 
    @include btn-disabled-mixin($error-bg-color-disabled, $error-font-color-disabled);
  }
}

.btn-warning[disabled] {
  @include btn-disabled-mixin($warning-bg-color-disabled, $warning-font-color-disabled);
  &:hover { 
    @include btn-disabled-mixin($warning-bg-color-disabled, $warning-font-color-disabled);
  }
}

// loading
.icon-btn-loading {
  animation: btn-loading-anim 1s linear infinite;
  display: inline-block;
  right: 5px;
  position: relative;

  &:before {
    content: "\e97b";
  }
}

@keyframes btn-loading-anim {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}